
@bg-color: #F2A2A8; 
/*
* 常见边距大小
*/
@100: 100rpx;
@88: 88rpx;
@80: 80rpx;
@60: 60rpx;
@40: 40rpx;
@30: 30rpx;
@20: 20rpx;

/*
* 文字主标题
* @title-size 大小 
* @title-weight 粗细
* @title-color 颜色
*/
@title-size: 15px;
@title-weight: bold;
@title-color: #545454;
/*
* 文字主小标题
* @title-size 大小 
* @title-weight 粗细
* @title-color 颜色
*/
@titleS-size: 13px;
@titleS-weight: bold;
@titleS-color: #444444;
/*
* 文字副标题
* @title-size 大小 
* @title-color 颜色
*/
@titleSmall-size: 13px;
@titleSmall-weight: 400;
@titleSmall-color: #999999;
/*
* 时间标签
* @title-size 大小 
* @title-color 颜色
*/
@titleTime-size: 13px;
@titleTime-weight: 400;
@titleTime-color: #999999;
/*
* 最小文字
* @title-size 大小 
* @title-color 颜色
*/
@titleTime-size: 12px;
@titleTime-weight: 400;
@titleTime-color: #666666;
/*
* 边框颜色
*/
@border-color: #F2F2F2;

/*
* icon大小
*/
.icon {
  width: 15px;
  height: 15px;
}
.right-icon {
  width: 7px;
  height: 12px;
}