@import "../../static/css/style.less";
.iconList{
  margin-left: @40;
  padding-right: @20;
  line-height: @100;
  height: @100;
  display: flex;
  align-items: center; 
  border-bottom: 1rpx solid @border-color;
  .image{ 
    margin-right: @20; 
  }
  .picker{
    flex: 1;
    font-size: @title-size;
    font-weight: @title-weight;
    color: @title-color;
  }

}